In [1]:
import numpy as np
import pandas as pd
import jscatter

In [2]:
n = 500
data = np.random.rand(n, 5)
data[:,3] = np.round(data[:,3] * 7).astype(int)

df = pd.DataFrame(
    data,
    columns=['x', 'y', 'value', 'group', 'bla'],
)
df['group'] = df['group'].astype('int').astype('category').map(lambda c: chr(65 + c), na_action=None)
df.head(5)

          x         y     value group       bla
0  0.658426  0.682262  0.614013     F  0.739413
1  0.767932  0.907164  0.822438     D  0.451547
2  0.184592  0.974775  0.330097     B  0.136393
3  0.113624  0.217273  0.767468     F  0.962905
4  0.032186  0.012218  0.582724     B  0.859827

## Simple Test

In [3]:
scatter = jscatter.Scatter('x', 'y', df, color_by='value')
scatter.show()

HBox(children=(VBox(children=(Button(button_style='primary', icon='arrows', layout=Layout(width='36px'), style…

In [6]:
scatter.height(320).size(10).selection(df.query('x < 0.5').index)

In [ ]:
scatter.selection()

# Short-Hand Test

In [8]:
jscatter.plot(
    data=df,
    x='x',
    y='y',
    color_by='value',
    color_order='reverse',
    size_by='value',
    size_map=[10,11,12,13,14,15],
    opacity_by='value',
    connect_by='group',
    connection_color_by='value',
    connection_color_order='reverse',
    height=600
)

HBox(children=(VBox(children=(Button(button_style='primary', icon='arrows', layout=Layout(width='36px'), style…

# Large-Scale Test

In [10]:
def roesslerAttractor(num):
    from math import inf
    
    points = []

    xn = 2.644838333129883
    yn = 4.060488700866699
    zn = 2.8982460498809814
    a = 0.2
    b = 0.2
    c = 5.7
    dt = 0.006

    minX = inf
    maxX = -inf
    minY = inf
    maxY = -inf
    for i in range(num):
        dx = -yn - zn
        dy = xn + a * yn
        dz = b + zn * (xn - c)

        xh = xn + 0.5 * dt * dx
        yh = yn + 0.5 * dt * dy
        zh = zn + 0.5 * dt * dz

        dx = -yh - zh
        dy = xh + a * yh
        dz = b + zh * (xh - c)

        xn1 = xn + dt * dx
        yn1 = yn + dt * dy
        zn1 = zn + dt * dz

        points.append([xn1, yn1])

        minX = min(xn1, minX)
        maxX = max(xn1, maxX)
        minY = min(yn1, minY)
        maxY = max(yn1, maxY)

        xn = xn1;
        yn = yn1;
        zn = zn1;


    dX = maxX - minX
    dY = maxY - minY

    for i in range(num):
        points[i][0] -= minX
        points[i][0] /= dX / 2
        points[i][0] -= 1
        points[i][1] -= minY
        points[i][1] /= dY / 2
        points[i][1] -= 1

    return points

In [11]:
points = np.asarray(roesslerAttractor(100000))
jscatter.plot(points[:,0], points[:,1])

HBox(children=(VBox(children=(Button(button_style='primary', icon='arrows', layout=Layout(width='36px'), style…